# Resend API Key for sending emails
RESEND_API_KEY=""

# Email address to receive contact form submissions
CONTACT_EMAIL=""
# Umami url
NEXT_PUBLIC_ANALYTICS_URL=
# Umami website id
NEXT_PUBLIC_ANALYTICS_WEBSITE_ID=